
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
:root {
  --main: #FF2156;
  --secondary: #F0F0F0;
}

body{
	margin:0;
	padding: 0;
	background-color:#E5E5E5;
	
}
h1,h2,h3,h4,h5,h6{
	color: #403C4A;
	font-family: 'Sunflower', sans-serif;
	margin:0.5em;
}


p,span{
	color: #403C4A;
	font-family: 'Sunflower', sans-serif;
	font-size: 14px;
}
	


/*navbar*/



.search{
	background: var(--secondary);
	border-radius: 40px;
	width:180px;
	height:24px;
	margin-top: 5px;
	border:0px solid var(--main);
	outline-width: 0;
	text-align: center;
	padding-top: 4px;
}



.search-text{
	background: var(--secondary);
	border:0px solid var(--main);
	outline-width: 0;
	border-radius: 40px;

}


.search-text::-webkit-input-placeholder {
  font-family: 'Sunflower', sans-serif;
}

.search-text:-ms-input-placeholder {
  font-family: 'Sunflower', sans-serif;
}

.search-text:-moz-placeholder {
  font-family: 'Sunflower', sans-serif;
}

.search-text::-moz-placeholder {
  font-family: 'Sunflower', sans-serif;
}


span input{
	 vertical-align:0.5em;
}

.search input[type="text"]
{
    font-family: 'Sunflower', sans-serif;
 	color: #8A8585;
 	font-size: 15px;
}

.icon{
	padding: 5%;
	display: flex;
  justify-content: space-between;
}

.main-text{

	font-family: Poppins;
	font-style: normal;
	font-size: 24px;
}


.main-text-nav{

	font-family: 'Lobster Two', cursive;
	font-style: normal;
	font-size: 28px;
}
.sub-text{

	font-family: Poppins;
	font-style: normal;
	font-size: 18px;
	color: grey;
}

.loginandsignupbtn{
  outline: white;
  color: var(--main);
  background-color: white;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  margin: 5px;

  font-size: 18px;
  
  border: 2px solid white;
  transition: 0.3s;
  height: 30px;
  width: 7.3%;
  cursor: pointer;
  text-decoration: none;
}


.user-pic{
	border-radius: 50%;
	height: 30px;
	width: 30px;
}
.icon-nav{
	margin-right: 17px;
    margin-bottom: 7px;
    cursor: pointer;
}
.extra{
	margin: 1.5%;
	background-color: white;
	      height: 82%;

    width: 275px;
	border-radius: 15px;
  -webkit-box-shadow: -10px 13px 16px -3px rgba(107,107,107,0.94); 
-moz-box-shadow: -10px 13px 16px -3px rgba(107,107,107,0.94);
box-shadow: -10px 13px 16px -3px rgba(107,107,107,0.94);
}

.aligner{
	display: flex;
    align-items:center;
    padding-left: 55px;
}

.align-line img{
	vertical-align: -1em;

}
.extra-content{
	padding-top: 8%;
	padding-left: 5%;


}
.extra a{
	text-decoration: none;
	color: #403C4A;
	font-family: 'Sunflower', sans-serif;
	font-size: 14px;
}



.grid-container {
  display: grid;
  grid-template-columns: 300px 700px auto auto; 
  padding: 10px;
}

.card{
	padding:10px;
	background-color: white;
    border-radius: 15px;
    max-width: 640px;
    margin: 8px;
    
      -webkit-box-shadow: -10px 13px 16px -3px rgba(107,107,107,0.94); 
  -moz-box-shadow: -10px 13px 16px -3px rgba(107,107,107,0.94);
box-shadow: -10px 13px 16px -3px rgba(107,107,107,0.94);
}
.card img{
	border-radius: 50%;
	height: 70px;
	width: 70px;
  -webkit-box-shadow: -10px 13px 16px -3px rgba(107,107,107,0.94); 
  -moz-box-shadow: -10px 13px 16px -3px rgba(107,107,107,0.94);
box-shadow: -10px 13px 16px -3px rgba(107,107,107,0.94);
}

.role{
	color: var(--main);
}
.flex{
	display: flex;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 20px;
  margin:10px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FF2156;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FF2156;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  -moz-transform : translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;

}

.slider.round:before {
  border-radius: 50%;
}


.filterbtn{
	font-family: 'Sunflower', sans-serif;
	font-size: 14px;
	background-color:var(--main);
	color: white;
	border:none;
	border-radius: 4px;
	padding: 6px 8px 6px 8px;
	margin: 5px;


}

.filterbtn:hover{
	font-family: 'Sunflower', sans-serif;
	font-size: 14px;
	background-color:var(--main);
	color: white;
	border:none;
	border-radius: 4px;
	padding: 6px 8px 6px 8px;
	margin: 5px;
}
.more{
	background-color: white;
    height: 132px;
    width: 275px;
    margin: -5.2%;
    margin-top: 32px;
    border-radius: 14px;
    -webkit-box-shadow: -10px 13px 16px -3px rgba(107,107,107,0.94); 
    -moz-box-shadow: -10px 13px 16px -3px rgba(107,107,107,0.94);
box-shadow: -10px 13px 16px -3px rgba(107,107,107,0.94);
}

.donationrequest{

	background-color: white;
	margin:1.5%;
	border-radius: 14px;
	height: 331px;
	width: 313px;
  -webkit-box-shadow: -10px 13px 16px -3px rgba(107,107,107,0.94); 
  -moz-box-shadow: -10px 13px 16px -3px rgba(107,107,107,0.94);
box-shadow: -10px 13px 16px -3px rgba(107,107,107,0.94);
}
.content{
	padding: 7px;
}


.reqimg{
	border-radius: 50%;
	height:40px;
	width: 40px;
}

.footer{
	background-color: white;
	height: 50px;
	width: 100%;
	position: fixed;
    bottom: 0%;
}

.filtercard{
	padding: 10px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 7px;
    color: #403C4A;
    font-family: 'Sunflower', sans-serif;
    max-height: 69%;
   	margin-left: 0.5em;
    width: 91%;
}

.filtercard a{
	text-decoration: none;
	color: #403C4A;
	font-family: 'Sunflower', sans-serif;
	font-size: 14px;

}
@media only screen and (min-width: 1337px){
	nav{
	display: grid;
  	grid-template-columns: 14.65% 29.2% 7.320% 8.78% auto auto;

	
	overflow: hidden;
	
	width: 100%;
	max-height: 40px;
	min-height: 40px;
	
	
	
	padding-left: 13.68%;
	background: white;
	
	box-sizing: border-box;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
  box-shadow: 2px 4px 5px -1px rgba(41,41,41,0.52);
-webkit-box-shadow: 2px 4px 5px -1px rgba(41,41,41,0.52);
-moz-box-shadow: 2px 4px 5px -1px rgba(41,41,41,0.52);

}
.mobilenav{
	display: none;
}
.footer{
	display: none;
}
.filtercard{
	display: none;
}
.mobile{
	display: none;
}
}

@media only screen and (max-width: 1336px) and (min-width: 601px){
	nav{
	display: grid;
  	grid-template-columns: 23.65% 33.2% 7.320% 8.78% auto auto;

	
	overflow: hidden;
	
	width: 100%;
	max-height: 40px;
	min-height: 40px;
	
	
	
	padding-left: 13.68%;
	background:white;
	
	box-sizing: border-box;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
 box-shadow: 2px 4px 5px -1px rgba(41,41,41,0.52);
-webkit-box-shadow: 2px 4px 5px -1px rgba(41,41,41,0.52);
-moz-box-shadow: 2px 4px 5px -1px rgba(41,41,41,0.52);

}.mobilenav{
	display: none;
}

.footer{
	display: none;
}

.donationrequest{
	display: none;
}
.filtercard{
	display: none;
}
}



@media only screen and (max-width: 600px) {
  .extra{
  	display:none;
  }
  .search-text{
  	display: none;
  }
  .search{
  	width:50px;
  }
  .icon{
  	display: none;
  }
  nav{
  	display: grid;
    grid-template-columns: 39.65% 29.2% 7.320% 8.78% auto auto;
    overflow: hidden;
    width: 100%;
   max-height: 40px;
	min-height: 40px;
    min-height: 40px;
    padding-left: 3.68%;
    background: white;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 4px 5px -1px rgba(41,41,41,0.52);
-webkit-box-shadow: 2px 4px 5px -1px rgba(41,41,41,0.52);
-moz-box-shadow: 2px 4px 5px -1px rgba(41,41,41,0.52);
  }
  .donationrequest{
	display: none;
}
.card{
    width: 93%;
}
}



.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: black;
}






.info-text{
	background: var(--secondary);
	border:0px solid var(--main);
	outline-width: 0;
	border-radius: 40px;
	width: 250px;
	margin: 4px;
    height: 31px;

}


.info-text::-webkit-input-placeholder {
  font-family: 'Sunflower', sans-serif;
}

.info-text:-ms-input-placeholder {
  font-family: 'Sunflower', sans-serif;
}

.info-text:-moz-placeholder {
  font-family: 'Sunflower', sans-serif;
}

.info-text::-moz-placeholder {
  font-family: 'Sunflower', sans-serif;
}


.info-input input[type="text"]
{
    font-family: 'Sunflower', sans-serif;
 	color: #8A8585;
 	font-size: 15px;
}
.info-input input[type="email"]
{
    font-family: 'Sunflower', sans-serif;
 	color: #8A8585;
 	font-size: 15px;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  height: 60px;
}

.dropdown:hover .dropdown-content {
  display: block;
}