
{% extends 'blood_main_app/base.html' %}

{% load static %}
{% block title %}Home  -- BloodBook{% endblock %}
{% block icon %}
<div class="icon">
<img class="icon-nav" src="{% static '/BloodBook/svg/home.svg' %}" alt="" >
<img class="icon-nav" src="{% static '/BloodBook/svg/bell.svg' %}" alt="" >
<img  class="icon-nav" src="{% static '/BloodBook/svg/chat.svg' %}" alt="" >
<img  class="icon-nav mobile" src="{% static '/BloodBook/svg/donationrequest.svg' %}" alt="" > 

<div class="dropdown">
 {% if request.user.img %}
           <img class="user-pic" src="/media/{{request.user.img }}" alt="" >
           {% else %}

           <img class="user-pic" src="/static/BloodBook/svg/user.jpg" alt="" >
           {% endif %}

  <div class="dropdown-content" style="position: absolute;">
        <p class="loginandsignupbtn" style="outline: none;border: none;">
          <a href="/logout/" style="text-decoration: none;color: var(--main);">Logout</a>
          <br>
          <a href="/user-profile/{{request.user.username}}" style="text-decoration: none;color: var(--main);">Profile</a>
          <br>
          <a href="/edit-profile/"  style="text-decoration: none;color: var(--main);">Edit&nbsp;Profile</a></p>

  </div>
</div>
</div>



<div class="dropdown">
 {% if request.user.img %}
           <img class="user-pic mobilenav" src="/media/{{request.user.img }}" alt="" >
           {% else %}

          <img class="user-pic mobilenav" src="{% static '/BloodBook/svg/user.jpg' %}" alt="" >

           {% endif %}

  <div class="dropdown-content" style="position: absolute;">
        <p class="loginandsignupbtn" style="outline: none;border: none;">
          <a href="/logout/" style="text-decoration: none;color: var(--main);">Logout</a>
          <br>
          <a href="/user-profile/{{request.user.username}}" style="text-decoration: none;color: var(--main);">Profile</a>
          <br>
          <a href="/edit-profile/"  style="text-decoration: none;color: var(--main);">Edit&nbsp;Profile</a></p>

  </div>


{% endblock %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static '/BloodBook/css/chat.css' %}">
<div class="container">
  <div class="chatbox">
    <div class="top-bar">
      <div class="avatar"><p>V</p></div>
      <div class="name">Voldemort</div>
      <div class="icons">
        <i class="fas fa-phone"></i>
        <i class="fas fa-video"></i>
      </div>
      <div class="menu">
        <div class="dots"></div>
      </div>
    </div>
    <div class="middle">
      <div class="voldemort">
        <div class="incoming">
          <div class="bubble">Hey, Father's Day is coming up..</div>
          <div class="bubble">What are you getting.. Oh, oops sorry dude.</div>
        </div>
        <div class="outgoing">
          <div class="bubble lower">Nah, it's cool.</div>
          <div class="bubble">Well you should get your Dad a cologne. Here smell it. Oh wait! ...</div>
        </div>
        
      </div>
    </div>
    <div class="bottom-bar">
      <div class="chat">
        <input type="text" class="msgtext" placeholder="Type a message..." />
        <button type="submit"><img src="{% static '/BloodBook/svg/send.svg' %}" alt="" ></button>
      </div>
    </div>
  </div>
  <div class="messages"></div>
  <div class="profile">
    <div class="avatar"><p>H</p></div>
    <div class="name2">Harry<p class="email">Harry@potter.com</p></div>
  </div>
  <ul class="people">
    <li class="person focus">
      <span class="title">Voldemort </span>
      <span class="time">2:50pm</span><br>
      <span class="preview">What are you getting... Oh, oops...</span>
    </li>
     <li class="person">
      <span class="title">Ron</span>
      <span class="time">2:25pm</span><br>
      <span class="preview">Meet me at Hogsmeade and bring...</span>
    </li>
    <li class="person">
      <span class="title">Hermione</span>
      <span class="time">2:12pm</span><br>
      <span class="preview">Have you and Ron done your hom...</span>
    </li>
  </ul>
</div>




{% endblock %}



{% block footer %}

 <div class="footer">
<div class="footer-icon">
<img class="icon-nav" style="margin-right: 8px;" src="{% static '/BloodBook/svg/home.svg' %}" alt="" >
<img class="icon-nav" style="margin-right: 8px;" src="{% static '/BloodBook/svg/bell.svg' %}" alt="" >
<img  class="icon-nav"style="margin-right: 8px;" src="{% static '/BloodBook/svg/chat.svg' %}" alt="" >

<img class="icon-nav" style="margin-right: 8px;" src="{% static '/BloodBook/svg/report.svg' %}" alt="" >
<img class="icon-nav" style="margin-right: 8px;" src="{% static '/BloodBook/svg/corona.svg' %}" alt="" >
<img  class="icon-nav mobile" src="{% static '/BloodBook/svg/donationrequest.svg' %}" alt="" >

<img class="icon-nav" style="margin-right: 8px;" src="{% static '/BloodBook/svg/donateorreceive.svg' %}" alt="" >

</div>
</div>

{% endblock %}